<div class="search-table">
  <div class="justify-end">
    <div class="col-md-2">
      <input type="text" #search class="form-control">
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" (click)="searchValue(search.value)">Search</button>
    </div>
  </div>
</div>
<app-table [userList]="usersInCurrentPage"></app-table>
<app-pagination [totalSize]="userList.length" (changePage)="changePage($event)"></app-pagination>
<div class="container">
  <button (click)="isOpenAddUser = true" class="btn btn-success">Add user</button>
</div>
<app-add-user *ngIf="isOpenAddUser" (closeModal)="isOpenAddUser = false"
              (addNewUser)="addNewUser($event)"></app-add-user>
<app-message></app-message>
